.form-signin {
	margin:0 auto;
	max-width: 350px;
	padding: 15px;
}

.form-control {

	margin-top: 10px;

}

.form-signin h2 {
	text-align: center;
	margin-bottom: 30px;

}

.form-signin .checkbox {
	margin-bottom: 30px;
	margin-top: 10px;
}


.login-modal {
	width:350px;
	background-color: #eee; 
}