<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ channel.name }}
        </div>
        <div class="panel-body">
            <img class="center-block" src="{{ asset('uploads/' ~ channel.imageName) }}"></img>
        </div>
        <div class="panel-footer">
           <span>&nbsp</span>
            <form action="{{ path('remove_channel', {'id': channel.id}) }}" method="post" class="channel-button pull-right">
                 <a href="{{path('edit_channel', {'id': channel.id}) }}" class="fa fa-edit" role="button"></a>
                <button type="submit" name="your_name" value="your_value" class="btn-link glyphicon glyphicon-remove"></button>
            </form>   
        </div>
    </div>
</div>