{% extends 'AdminBundle:Home:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin_website/css/channel.css') }}" />
{% endblock %}

{% block body_content %}

    <!-- Page Content -->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Les chaines de Télévision 
                        <a class="btn btn-primary btn-lg" role="button" href="{{path('add_channel') }}">Ajouter une chaine</a>
                    </h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% for channel in channels %}
                {{ include('AdminBundle:Channel:channel.html.twig', { 'channel' : channel }) }}
            {% endfor %}
            <!-- /.row -->
{% endblock %}