{% extends "base.html.twig" %}

{% block body_content %}

	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Mentions légales
					<small>CONDITIONS GENERALES D’UTILISATION</small>
				</h1>

				<ol class="breadcrumb">
					<li><a href="index.html">Home</a>
					</li>
					<li class="active">Mentions légales</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<!-- Content Row -->
		<div class="row">
			<div class="col-lg-12">
				<ol>
					<p> Les présentes Conditions Générales d’Utilisation déterminent les règles d’accès au site jrproduction.tv (le « Site ») et ses conditions d’utilisation que l’utilisateur reconnait accepter, sans réserve, du seul fait de sa connexion au Site.</p>

					<h3><li>MENTIONS LEGALES</h3>

					<p>Editeur : JR PRODUCTION</p>

					<p>Société par Actions Simplifiée au capital de 3 000Euros, immatriculée au Registre du Commerce et des Sociétés de Bobigny sous le numéro 515 045 334, dont le siège social est situé 2/4 rue des Blés 93210 SAINT DENIS LA PLAINE.</p>

					<p>Directeur de Publication : Jérémie ROLLAND</p>

					<p>Hébergeur : LWS</p>

					<p>Siège social : 2/4 rue des Blés 93210 SAINT DENIS LA PLAINE</p></li>

					<h3><li>PROPRIETE INTELLECTUELLE</h3>

					<p>Le Site est la propriété exclusive de JR PRODUCTION SAS.</p>

					<p>La reproduction ou représentation ou téléchargement, qu’elle soit intégrale ou partielle, des pages, des données, des vidéos et de tout autre élément du Site sur quel que support ou par quel que procédé que ce soit est interdite et constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du code de la propriété intellectuelle.</p>

					<p>Sauf autorisation expresse et préalable de JR PRODUCTION, sont interdites toutes reproductions, représentations et utilisations du Site et des informations qui y sont publiées notamment :</p>
					<ul>
						<li>toute adaptation, mise à disposition du public à sa demande ou non, distribution, rediffusion sous quelque forme que ce soit, mise en réseau, communication publique de tout ou partie des œuvres, prestations, marques et tous éléments protégés ou susceptibles de protection par le droit de la propriété intellectuelle reproduits sur le Site;</li>

						<li>toute reproduction, notamment par téléchargement des données ou vidéos contenues dans le Site;</li>

						<li>toute extraction ou réutilisation, y compris à des fins privées, d’une partie substantielle du contenu des bases de données constituées par le Site;</li>

						<li>toute extraction ou réutilisation, répétée et systématique, y compris à des fins privées, d’une partie même non substantielle du contenu des bases de données constituées par le Site;</li>

						<li>toute mise en place de liens hypertexte en direction du Site.</li>
					</ul></li>
					<h3><li>INFORMATIONS TECHNIQUES</h3>

					<p>La responsabilité de JR PRODUCTION ne pourra en aucun cas être engagée en cas d’éventuelles erreurs, une absence de disponibilité du Site, la présence de virus sur le Site. Il appartient à chaque internaute de prendre toutes les mesures appropriées afin de protéger ses propres données et/ou logiciels de la contamination de virus.</p>

					<p>Nous vous informons que le Site peut évoluer, être interrompu temporairement ou définitivement et ce sans notification préalable. JR PRODUCTION ne prend aucun engagement de maintenir un accès permanent et ininterrompu au site.</p></li>

					<h3><li>MODIFICATIONS DES CONDITIONS GENERALES D’UTILISATION</h3>

					<p>JR PRODUCTION pourra modifier les présentes conditions générales d’utilisation. Vous devez donc vous référer à chaque connexion au Site à la version en ligne sur le Site.</p></li>

					<h3><li>PROTECTION DES DONNEES ET CONFIDENTIALITE</h3>

					<p>JR PRODUCTION s'engage à respecter strictement les dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée dite " Informatique et Libertés ".</p>

					<p>Les informations recueillies font l’objet d’un traitement informatique destiné à permettre à JR PRODUCTION de gérer sa clientèle et de répondre à ses demandes.</p>

					<p>Elles sont destinées aux membres de la société JR PRODUCTION.</p>

					<p>JR PRODUCTION s’engage à préserver la confidentialité des données personnelles transmises par l’Utilisateur dans le cadre de l’utilisation du Site.</p>

					<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à JR PRODUCTION, 2/4 rue des Blés 93210 SAINT DENIS LA PLAINE.</p>

					<p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>

					<p>Veuillez contacter JR PRODUCTION à l’adresse suivante : public@jrproduction.tv</p></li>

					<h3><li>LOI APPLICABLE ET COMPETENCE JURIDICTIONNELLE</h3>

					<p>Les présentes conditions générales d’utilisation sont soumises à la loi française. En cas de litige, les Tribunaux de Paris sont seuls compétents. </p></li>
				</ol>
			</div>
		</div>
	</div>
{% endblock %}