{% extends "base.html.twig" %}


  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/client_website/css/profile.css') }}" />
  {% endblock %}

  {% block body_content %}
    <div class="container main-container">

     <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default panel-menu">
          <div class="panel-heading">
            <h3 class="panel-title">Mon profil</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="" role="presentation">
                <a href="{{ path('fos_user_profile_show') }}">Editer mes informations</a>
              </li>
              <li class="active" role="presentation">
                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
              </li>
              <li role="presentation">
                <a href="{{ path('registration_requests_overview') }}">Mes inscriptions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <h1>Modifier son mot de passe</h1>
        <hr>
        <div class="alert alert-success">
          <i class="fa fa-check-circle"></i>
          <strong>Confirmation : </strong> Le mot de passe a bien été changé.
        </div>
     </div>
   </div>
 </div>
 <hr> 


{% endblock %}
