{% extends 'AdminBundle:Home:base.html.twig' %}

{% block body_content %}

    <!-- Page Content -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Les tournages programmés 
                <a class="btn btn-primary btn-lg" role="button" href="{{path('add_recording') }}">Ajouter un tournage</a>
            </h1>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <table id="recordings_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Emission</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Condition</th>
                <th>Inscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for recording in recordings %}
                {{ include('AdminBundle:Recording:recording.html.twig', { 'recording' : recording }) }}
            {% endfor %}
        </tbody>
        <!-- /.row -->
    {% endblock %}


    {% block scripts %} 
        <script>
        $(document).ready(function() {
            $('#recordings_table').DataTable({
                "language": {
                    "lengthMenu": "Afficher _MENU_ dates par page",
                    "info": "Page _PAGE_/_PAGES_",
                    "infoEmpty": "Aucune date n'est actuellement prévue",
                    "paginate": {
                        "first":      "Première page",
                        "last":       "Dernière page",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    }
                },
                "bFilter": false,

            });
        } );
    </script>
    {% endblock %}