<div class="modal-body register-body">
	<div class="text-center">
		<div class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Votre inscription a bien été prise en compte !
		</div>
		<p> Afin de procéder à l'activation de votre compte, vous allez recevoir un email à l'adresse suivante : <em>{{ user.email }}</em> 
		</p>
		<br>
		<button type="button" class="btn btn-primary" data-dismiss="modal" >J'ai compris !</button>
	</div>
</div>



<script> $(".close").remove(); </script>