<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ location.name }}
        </div>
        <div class="panel-body">
          {#   <img src="{{ asset('uploads/' ~ location.imageName) }}"></img> #}
        </div>
        <div class="panel-footer">
           
            <form action="{{ path('remove_location', {'id': location.id}) }}" method="post">
                 <a href="{{path('edit_location', {'id': location.id}) }}" class="fa fa-edit" role="button"></a>
                <button type="submit" name="your_name" value="your_value" class="btn-link glyphicon glyphicon-remove"></button>
            </form>   
        </div>
    </div>
</div>