<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login-modal" role="document">
    <div class="modal-content">
    	<p>Bienvenu ! Vous allez être redirigé vers la page d'accueil...</p>
      <div class="modal-body">

      </div>
  </div>
</div>