<div class="login-container">
	<div class="text-center">
		<div class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Bienvenu !
		</div>
		<p> Vous allez être redirigé vers la page précédente dans quelques instant... </p>
		<a role="button" class="btn btn-primary" href="{{ path('home') }}"> Retour vers la page d'accueil</a>
	</div>
</div>