


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login-modal" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="login_container">

          <form class="ajaxForm form-signin" action="{{ path("fos_user_security_check") }}" method="post" class="ajaxForm" novalidate>
            <h2 class="form-signin-heading">Connectez-vous</h2>

            {% if error %}
              <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="error">
              <div class="error-content"></div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input class="form-control" id="username" name="_username" placeholder="Email address" required="required" autofocus="" type="email">

            <input id="password" name = "_password" class="form-control" placeholder="Mot de Passe" required="required" type="password">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Se souvenir de moi
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function initAjaxForm()
  {
    $('body').on('submit', '.ajaxForm', function (e) {

      e.preventDefault()
      $('.error-content').html("");
      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize()
      })
      .done(function (data) {
       // alert(data.message)
        if (data.success == false) {
          $('.error-content').html(data.message);
        }
        else {
          $('.login_container').replaceWith(data.message);
          // redirect to google after 5 seconds
          window.setTimeout(function() {
            window.location.href = data.referer;
          }, 3000);
        }
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        if (typeof jqXHR.responseJSON !== 'undefined') {
          if (jqXHR.responseJSON.hasOwnProperty('form')) {
            $('#form_body').html(jqXHR.responseJSON.form);
          }

          $('.form_error').html(jqXHR.responseJSON.message);

        } else {
          alert(errorThrown);
        }

      });
    });
  }   
  initAjaxForm();
</script>