{% extends 'AdminBundle:Home:base.html.twig' %}

{% block stylesheet%} 
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/adminBundle_tvShows.css') }}"/>
{% endblock %}

{% block body_content %}

    <!-- Page Content -->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Les émissions 
                         <div class="action-button">
                            <a class="btn btn-primary btn-lg" role="button" href="{{path('add_tvshow') }}">Ajouter une émission</a>
                        </div>
                    </h1>

                </div>
            </div>
            {% for tvShow in tvShows %}
                {{ include('AdminBundle:TVShow:tvshow.html.twig', { 'tvShow' : tvShow }) }}
            {% endfor %}
            <!-- /.row -->
{% endblock %}