<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ tvShow.title }}

        </div>
        <div class="panel-body">
           <img src="{{ asset('uploads/' ~ tvShow.iconeName) }}" class="center-block thumbnail-img"></img> 
        </div>
        <div class="panel-footer">
                    {% if tvShow.homePageVisibility == true %}
            <span class="label label-primary">En page d'accueil</span>
        {% else %}
            <span>&nbsp</span>
        {% endif %}
            <form action="{{ path('remove_tvshow', {'id': tvShow.id}) }}" method="post" class="pull-right">
                 <a href="{{path('edit_tvshow', {'id': tvShow.id}) }}" class="fa fa-edit" role="button"></a>
                <button type="submit" name="your_name" value="your_value" class="btn-link glyphicon glyphicon-remove"></button>
            </form>   
        </div>
    </div>
</div>

