.page-header, .subcomment {
	text-align: center;
}

#calendar {
	width: 370px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.datepicker,
.table-condensed {
	width: 370px;
	height: 320px;
	font-size: 17px;
}

.datepicker table tr td, .datepicker table tr th {
	height:38px !important;
}