.main-container {
	padding-top: 50px;
}

html > * {
	font-family: 'Open Sans', sans-serif !important;
}

.slide-class {
/*	position:relative;
	margin-top: 30px;
	margin-left:100px;
	margin-right: 100px;
	display:inline-block !important;*/
	width:98%;
	position: relative;

margin: 0 auto;
}

.slide-class img {
	margin:0 30px;

}
.jumbotron {
	display:inline-block !important;
	width:55%;
	margin: auto !important;
	height:250px;
}

.header-slides {
	/*background-color: rgba(66,139,202,0.8); */
	background-color: #eee;
	color:rgba(66,139,202,1);
/*	display:flex;
*/

}


.jumbotron-content {
	display:inline;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.container {
	margin-bottom: 150px;
}

table, th {text-align: center;}

.slide-img {
	height:300px;
}
