
.form-signup {
    margin:0 auto;
    max-width: 350px;
    padding: 15px;
}


.main {
	margin-top: 30px !important;
	text-align: center !important;
	width:463px !important;
	height: 100%;
}

.name-input{
    width:36% !important;
}

.form-signup input:not([type="checkbox"]) {
	 background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #d0d0d0 !important;
    box-shadow: none !important;
    font-size: 15px !important;
    height: 45px !important;
    outline: 0 none !important;
    padding: 0 10px !important;
    width: 100%;
    border-radius: 2px !important; 
    margin-top: 16px !important;
}



.form-signup button[type='submit'] {
	margin-bottom: 10px;
    margin-top: 30px;

}
.form-signup {
	margin: 0 50px !important;
}

.register_container h2 {
	 font-weight: 500 !important;
    line-height: 1.1 !important;
    font-family: 'Open Sans' !important;
    font-size: 30px !important;
    font-style: normal !important;
    text-align: center;
}

.register-modal {
    width:500px;
}


.inline-input {
    display:inline-block !important;
}

.birthday-input {
    width:50% !important;
    display: inline-block !important;
    margin-top: 0 !important;
}
.gender-input {
    width:25% !important;
    display: inline-block !important;
    margin-top: -15px;
}

.gender-input > button {
        height:45px !important;
}
.dropdown-menu {
    margin-top:10px;
}

.newsletter_checkbox {
    top: 12px !important;
    margin-left: -30px !important;
}

.newsletter_label {
    padding-left: 30px !important;
}

.city-input, .country-input {
    width:49% !important;
}

.address-input {
    width:63% !important;
}

.zipCode-input {
    width:35% !important;
}

.phoneNumber-input {
    width:48% !important;
}

.robot-error {
    font-size:11px;
    margin-top:5px;
}