{% extends "base.html.twig" %}

{% block stylesheets %} 
<link rel="stylesheet" href="{{ asset('assets/client_website/css/tvshow.css') }}" />
{% endblock %}

{% block body_content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nos emissions
                    <small>En cours de tournage</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="active">Toutes nos émissions</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="http://www.jrproduction.tv/images/header.png" alt="">
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>Toutes nos émissions sont ici. Cliquez sur l'emission qui vous interesse pour accéder à sa page !</p>
            </div>

            {% for tvShow in tvShows %}
                {{ include('AppBundle:TVShow:tvshow_partial.html.twig', { 'tvShow' : tvShow }) }}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Les émissions passés
                    <small>Pas de tournage prévu</small>
                </h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}

