<div class="col-md-3 text-center">
	<div class="thumbnail">
		<a href="{{ path('show_tvshow', {'id': tvShow.id}) }}">
			<img class="img-responsive img-hover" src="{{ asset('uploads/' ~ tvShow.iconeName) }}" alt="">
			<div class="caption">
				<span>{{ tvShow.title }}
				</span>
			</div>
		</a>
	</div>
</div>